.lead {
  font-size: 1.25rem;
  font-weight: 300;
  margin-bottom: 1rem;
  color: #212529;
}

.container {
  max-width: 960px !important;
}

/* small li {
  list-style: none;
  margin-top: 10px;
}

.unOrder-list {
  padding: 0;
} */
.black {
  color: aqua;
}

/* input[type=text] {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #0a8dff;
  border-radius: 3px;
  outline: 0;
} */

/* input[type=text]:focus {
  outline: 0.5px solid #0a8dff95;
  border-radius: 1px;
} */